<!DOCTYPE HTML>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="index">
    <head>
        <title>Edit Product</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/book" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-list"></span> Book</a>
                </h3>
                <h2>Edit Product</h2>
                <form action="/book/update">
                    <div class="form-group">
                        <label for="email">Book Name:</label>
                        <input type="text" class="form-control" name="name" th:value="${book.name}" />
                    </div>
                    <input type="hidden" name="id" th:value="${book.id}" />
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </body>
</html>